# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.swp
*~
*.log

# Visual Studio / Rider
.vs/
.vscode/
.idea/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
